name: xen_popup_card
description: Beautiful pop up card with app bar and gutter designed for flutter 
version: 0.0.1
homepage: https://www.itsmekiran.com
repository: https://github.com/xenSlayer/xen_popup_card

environment:
  sdk: ">=2.16.1 <3.0.0"
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter
  

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^1.0.0

flutter:
